[submodule "third_party/lerobot"]
	path = third_party/lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "third_party/RL-100"]
	path = third_party/RL-100
	url = https://github.com/eHiollo/RL-100.git
